<div id="FileTrackerView">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <button
          type="button"
          class="btn btn-primary"
          data-bind="click: lockSync"
        >
          Lock
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-primary"
          data-bind="click: syncFiles"
        >
          Sync
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-primary"
          data-bind="click: startProgram"
        >
          Start program
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-primary"
          data-bind="click: syncFiles"
        >
          Sync
        </button>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-primary"
          data-bind="click: unlockSync"
        >
          Unlock
        </button>
      </div>
    </div>
  </div>
</div>
